tmp/*
!tmp/readme.md

lectureNote/*
!lectureNote/readme.md

settings/secrets/*
!settings/secrets/initial.env

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,database
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,database

### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,database
